.main-container
{
    margin-top : 30px;
    display : flex;
    align-items : center;
    justify-content : center;
}
.form-body
{
    border : 2px solid grey;
    border-radius: 10px;
    width : 300px;
    min-height : 550px;
    box-shadow : 5px 5px 10px grey;
}
.header
{
    font-family: "Noto Sans KR", serif;
    text-align : center;
}
.form
{
    margin : 20px;
    padding : 10px;
}
.label
{
    font-family : "Noto Sans KR", serif;
    font-weight :lighter;
}
.input
{
    margin-top : 10px;
    margin-right : 10px;
    margin-bottom : 10px;
    padding : 10px;
    width : 200px;
    height : 5px;
    border : 2px solid black;
    border-radius : 2px 2px 2px 2px;
}
.button
{
    padding : 10px;
    width : 245px;
    height : 40px;
    border : rgb(65, 136, 250);
    border-radius : 5px 5px 5px 5px;
    background-color : rgb(65, 136, 250);
    color : white;
    font-family : "Noto Sans KR", serif;
}
.icon 
{
    cursor : pointer;
    position : relative;
    width : 20px;
    height : 20px;
    margin-left : 195px;
    top : -35px;
}
.password input
{
    width : 200px;    
}
.username-invalid
{
    border : 2px solid red;
}
.username-valid
{
    border : 2px solid green;
}
.email-invalid
{
    border : 2px solid red;
}
.email-valid
{
    border : 2px solid green;
}
.confirm-password-valid
{
    border : 2px solid green !important;
}
.confirm-password-invalid
{
    border : 2px solid red !important;
}
.error
{
    font-family : "Noto Sans KR", serif;
    font-weight : bold;
    color : red;
}